/* Контейнер сторінки */
.other-profile {
  max-width: 935px;
  margin: 0 auto;
  padding: 30px 20px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  color: #262626;
}

/* Верхній блок */
.profile-header {
  display: flex;
  gap: 100px;
  margin-bottom: 40px;
}

/* Аватар */
.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

/* Правий блок */
.profile-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.profile-flex {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
/* Username */
.profile-info h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

/* Кнопки */
.profile-actions {
  display: flex;
  gap: 10px;
}

.follow-btn,
.message-btn {
  padding: 6px 16px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.follow-btn {
  background: #0095f6;
  color: white;
  border: none;
  padding: 6px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.follow-btn.unfollow {
  background: #efefef;
  color: #000;
}

.message-btn {
  background: #efefef;
  color: #000;
}

/* Статистика */
.profile-stats {
  display: flex;
  gap: 25px;
  font-size: 16px;
}

.profile-stats span b {
  font-weight: 600;
}

/* Імʼя та біо */
.profile-fullname {
  font-weight: 600;
  font-size: 14px;
}

.profile-bio {
  font-size: 14px;
  white-space: pre-line;
}

/* Сітка постів */
.profile-posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.post-item {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.post-item img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Loading */
.profile-loading {
  padding: 40px;
  text-align: center;
  font-size: 18px;
}
