.mobile-footer {
  display: none;
}

@media (max-width: 1024px) {
  .mobile-footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background: #fff;
    border-top: 1px solid #ddd;

    justify-content: center;
    align-items: center;

    z-index: 2000;
  }

  .mobile-footer-inner {
    width: 100%;
    max-width: 480px;
    padding: 0 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-footer svg {
    font-size: 26px;
    cursor: pointer;
  }
}
