.mobile-topbar {
  display: none;
}

@media (max-width: 1024px) {
  .mobile-topbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;

    background: #fff;
    border-bottom: 1px solid #ddd;

    justify-content: center;
    align-items: center;

    z-index: 1000;
  }

  .mobile-topbar-inner {
    width: 100%;
    max-width: 480px;
    padding: 0 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-icon {
    font-size: 26px;
    cursor: pointer;
  }

  .top-logo {
    height: 28px;
  }
}
