.search-panel {
  position: fixed;
  top: 0;
  left: 240px;
  width: 400px;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #dbdbdb;
  padding: 20px;
  z-index: 600;

  display: flex;
  flex-direction: column;
  overflow: hidden; /* важливо */
}

.search-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
}

.search-scroll {
  flex: 1;
  overflow-y: auto;
  padding-right: 4px;
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.search-user {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.search-user:hover {
  background: #f5f5f5;
}

.search-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.search-username {
  font-weight: 600;
}

.search-name {
  font-size: 14px;
  color: #777;
}

.no-results {
  padding: 20px;
  color: #777;
}

@media (max-width: 1024px) {
  .search-panel {
    left: 0;
    width: 360px;
    padding: 18px;
  }
  .search-top {
    margin-top: 50px;
  }

  .search-input {
    font-size: 15px;
    padding: 10px;
  }

  .search-avatar {
    width: 42px;
    height: 42px;
  }
}

@media (max-width: 767px) {
  .search-panel {
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 16px;
    border-right: none;
    border-bottom: 1px solid #dbdbdb;
    z-index: 999;

    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .search-input {
    padding: 10px;
    font-size: 14px;
    margin-bottom: 16px;
  }

  .search-scroll {
    flex: 1;
    overflow-y: auto;
  }

  .search-results {
    gap: 10px;
  }

  .search-user {
    padding: 8px;
    gap: 10px;
  }

  .search-avatar {
    width: 38px;
    height: 38px;
  }

  .search-username {
    font-size: 14px;
  }

  .search-name {
    font-size: 12px;
  }
}
