.app-layout {
  display: flex;
}

.content-wrapper {
  margin-left: 240px;
  width: 100%;
  padding: 0 20px;
  position: relative;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.routes-layer {
  flex: 1;
  position: relative;
  z-index: 2;
}

.home-background {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  inset: 0;
  z-index: 300;
}

.overlay {
  position: fixed;
  top: 0;
  left: 240px;
  width: calc(100vw - 240px);
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 500;
}
