html,
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
}

.app-layout {
  display: flex;
}

.content-wrapper {
  margin-left: 240px;
  width: 100%;
  padding: 0 20px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  position: relative;
}

.routes-layer {
  flex: 1;
  position: relative;
  z-index: 2;
}

/* Планшети + телефони (1024px і нижче) */
@media (max-width: 1024px) {
  .sidebar {
    display: none !important;
  }

  .app-layout {
    display: block;
  }

  #root {
    max-width: 100%;
  }

  .content-wrapper {
    margin-left: 0 !important;
    padding: 70px 12px 80px; /* місце під topbar + footer */
  }
}

/* Телефони (767px і нижче) */
@media (max-width: 767px) {
  .content-wrapper {
    padding: 70px 12px 80px;
  }
}
