.nf-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 100vh;
}

.nf-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nf-image {
  width: 380px;
  max-width: 100%;
  object-fit: contain;
}

.nf-right {
  flex: 1;
  padding-left: 20px;
}

.nf-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.nf-text {
  font-size: 16px;
  color: #666;
}
